{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="aps-container block-content">
  <h1 class="main-page-header">{{ object.title }}</h1>

{% if object.is_lab_with_tabs %}
  <div role="tabpanel">
    <!-- Tab headers -->
    <ul class="nav nav-tabs" role="tablist">
      {% for tab in tabs %}
        {% if tab.title or tab.left or tab.images.0 or tab.images.1 or tab.images.2 or tab.images.3 %}
          <li class="nav-item" role="presentation">
            <button class="nav-link{% if forloop.first %} active{% endif %}" id="tab{{ forloop.counter }}-tab" data-bs-toggle="tab" data-bs-target="#tab{{ forloop.counter }}" type="button" role="tab" aria-controls="tab{{ forloop.counter }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
              {{ tab.title }}
            </button>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <!-- Tab content -->
    <div class="tab-content">
      {% for tab in tabs %}
        {% if tab.title or tab.left or tab.images.0 or tab.images.1 or tab.images.2 or tab.images.3 %}
          <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="tab{{ forloop.counter }}" role="tabpanel" aria-labelledby="tab{{ forloop.counter }}-tab">
            <div class="row">
              <div class="col-md-7">
                {{ tab.left|safe }}
              </div>
              <div class="col-md-5 tab-pane-image-col"  style="border-left: 1px solid #CCCCCC;">
                {% for image in tab.images %}
                  {% if image %}
                    <img src="{{ image.file.url }}" class="aps-img" alt="{{ object.title }}">
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
</div>
{% endblock %}
