{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}

<section class="aps-homepage-content">
  <div class="aps-container block-content">
    <div class="row">
      <div class="col-md-12">
        <h1 class="main-page-header">The American Peptide Society</h1>
      </div>
      <div class="col-md-3">
{% for item in news_items %}
 <h4 style="margin-top: 0;">{{ item.news_item_short_title }}</h4>
  <a href="{{ item.get_absolute_url }}" class="news-item-link">
    {% if item.news_item_image %}
    <img src="{{ item.news_item_image.file.url }}" alt="{{ item.news_item_short_title }}" class="aps-img">
  {% endif %}
  {{ item.news_item_blurb|safe }}</a>
  {% if not forloop.last %}
    <hr class="aps-border">
  {% endif %}
{% endfor %}
      </div>
<div class="col-md-5" style="border-left: 1px solid #CCCCCC;">
  {% for item in middle_column_items %}
  <a href="{{ item.get_absolute_url }}" class="news-item-link">
     <h4 style="margin-top: 0;">{{ item.title }}</h4>
    {% if item.image %}
      <img src="{{ item.image.file.url }}" class="aps-img" alt="{{ item.title }}">
    {% endif %}
    <div class="highlight-html-body">
      {{ item.html_body|safe }} </a>
    </div>

  {% if not forloop.last %}
    <hr class="aps-border"> 
  {% endif %}
{% endfor %}

</div>

<div class="col-md-4" style="border-left: 1px solid #CCCCCC;">
  {% for item in right_column_items %}
    <h4 style="margin-top: 0;">{{ item.title }}</h4>
    <a href="{{ item.get_absolute_url }}" class="news-item-link">
<a href="{{ item.get_absolute_url }}" class="news-item-link">{% if item.image %}
      <img src="{{ item.image.file.url }}" class="aps-img" alt="{{ item.title }}">
    {% endif %}
    {{ item.html_body|safe }}</a>
    {% if not forloop.last %}
      <hr class="aps-border">
    {% endif %}
  {% endfor %}
</div>

    </div>
  </div>
</section>
{% endblock %}