# Python
__pycache__/
*.py[cod]
*.sqlite3

# Wagtail/Django
media/
staticfiles/
local_settings.py

# Virtual environments
venv/
.venv/
ENV/
env/

# macOS
.DS_Store

# VSCode
.vscode/

# Node (if ever used)
node_modules/
