# Python
__pycache__/
*.py[cod]
*.sqlite3

# Wagtail/Django
media/
staticfiles/
static/staticfiles.json
static/css/*.*.css
local_settings.py

# Logs
logs/
*.log

# Virtual environments
venv/
.venv/
ENV/
env/

# macOS
.DS_Store

# VSCode
.vscode/

# Node (if ever used)
node_modules/
