/* Hide the inline SVG used by Wagtail */
.wagtail-logo svg {
  display: none !important;
}

/* Force the background image to appear */
.wagtail-logo {
  background-image: url('/static/images/aps_circle.png') !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center left !important;
  width: 160px !important;
  height: 48px !important;
  display: block !important;
  margin-left: 1rem !important;
}

body #wagtail-sidebar {
    background-color: #f0f0f0 !important;
}



/* Customize the primary color for the admin UI */
:root {
    --w-color-primary: #00457c; /* Set your primary color */
    --w-color-secondary: #ff6600; /* Set secondary color */
    --w-color-surface-header: #f4f4f4; /* Header background */
    --w-color-text-label: #333333; /* Text color */
    --w-color-surface-menus: #4b9cd3; /* Sidebar background */
    --w-color-surface-button-default: #00457c; /* Default button color */
}