{% load static %}

<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Logo and Description -->
      <div class="col-md-4" style="margin-bottom: 30px;">
        <img src="/media/logo/aps_logo_black.png" alt="APS Logo" class="footer-logo" />
        <p>The American Peptide Society, APS, a nonprofit scientific and educational organization founded in 1990, provides a forum for advancing and promoting knowledge of the chemistry and biology of peptides.</p>
      </div>

      <!-- Association Contact -->
      <div class="col-md-4" style="margin-bottom: 30px;">
        <h3>Association Contact</h3>
        <img src="/media/footer/cline_lauren.jpg" alt="Lauren Cline" class="aps-img" width="80" style="margin-bottom: 12px;">
        <p><strong>Lauren Cline, Ph.D.</strong><br>
          Association Manager<br>
          <i class="fa fa-mobile"></i> <span>614-300-5887</span><br>
          <i class="fa fa-envelope"></i> <a href="mailto:APSoffice17@gmail.com?subject=Website Inquiry" class="footer-link">APSoffice17@gmail.com</a>
        </p>
      </div>

      <!-- Web Contact -->
      <div class="col-md-4" style="margin-bottom: 30px;">
        <h3>Website Contact</h3>
        <img src="/media/footer/sahl_lars.jpg" alt="Lars Sahl" class="aps-img" width="80" style="margin-bottom: 12px;">
        <p><strong>Lars Sahl, MS</strong><br>
          Web Developer<br>
          <i class="fa fa-envelope"></i> <a href="mailto:lars@americanpeptidesociety.org?subject=Website Inquiry" class="footer-link">lars@americanpeptidesociety.org</a>
        </p>
      </div>
    </div>
  </div>

  <!-- Colophon: OUTSIDE the row/container to avoid layout breaks -->
  <div class="colophon">
    <div class="container">
      <p style="margin: 0;">&copy; 2025 American Peptide Society | All Rights Reserved</p>
    </div>
  </div>
</footer>
