<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="padding-right: 29px;">
        <img src="/media/logo/aps_logo_black.png" width="299" alt="APS Logo" class="footer-logo">
        <p>The American Peptide Society, APS, a nonprofit scientific and educational organization founded in 1990, provides a forum for advancing and promoting knowledge of the chemistry and biology of peptides.</p>
      </div>
      <div class="col-md-4">
        <h3 class="footer-head">Association Contact</h3>
        <img src="/media/footer/cline_lauren.jpg" alt="Lauren Cline" class="img-responsive footer-headshot">
        <p><strong>Lauren Cline, Ph.D.</strong><br>
        Association Manager<br>
        <i class="fa-solid fa-mobile"></i> 614-300-5887<br>
        <i class="fa-solid fa-envelope"></i> <a href="mailto:APSoffice17@gmail.com?subject=Website Inquiry" class="footer-link">APSoffice17@gmail.com</a></p>
      </div>
      <div class="col-md-4">
        <h3 class="footer-head">Website Contact</h3>
        <img src="/media/footer/sahl_lars.jpg" alt="Lars Sahl" class="img-responsive footer-headshot">
        <p><strong>Lars Sahl, MS</strong><br>
        Web Developer & Publication Specialist<br>
        <i class="fa-solid fa-envelope"></i> <a href="mailto:lars@americanpeptidesociety.org?subject=Website Inquiry" class="footer-link">lars@americanpeptidesociety.org</a></p>
      </div>
    </div>
  </div>
</footer>

<!-- Colophon Section -->
<div class="colophon text-center">
  <p class="small" style="color: #FFF; margin-top: 11px;">&copy; 2025 American Peptide Society | All Rights Reserved</p>
</div>