<nav class="navbar navbar-expand-lg aps-navbar">
  <div class="container aps-container">
    <a class="navbar-brand" href="/">
      <img src="/media/logo/aps_logo_black.png" class="aps-navbar-logo" alt="APS Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav aps-nav-links">

        <li class="nav-item{% if request.path == '/' %} active{% endif %}">
          <a class="nav-link" href="/">HOME</a>
        </li>

        <li class="nav-item dropdown{% if request.path|slice:':6' == '/news' or request.path|slice:':6' == '/labs' or request.path|slice:':12' == '/proceedings' or request.path|slice:':16' == '/symposia-images' or request.path|slice:':8' == '/journal' %} active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="exploreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            EXPLORE
          </a>
          <ul class="dropdown-menu aps-fade-dropdown" aria-labelledby="exploreDropdown">
            <li><a class="dropdown-item" href="/news-research-index/">News Archive</a></li>
            <li><a class="dropdown-item" href="/lab-of-the-month-archive/">Lab of the Month Archive</a></li>
            <li><a class="dropdown-item" href="/proceedings/">Proceedings Archive</a></li>
            <li><a class="dropdown-item" href="/symposia-images/">Symposium Images</a></li>
            <li><a class="dropdown-item" href="/journal/">Our Journal</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown{% if request.path|slice:':7' == '/people' or request.path|slice:':15' == '/past-presidents' or request.path|slice:':11' == '/committees' or request.path|slice:':20' == '/student-activities' or request.path|slice:':11' == '/obituaries' %} active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="peopleDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PEOPLE
          </a>
          <ul class="dropdown-menu aps-fade-dropdown" aria-labelledby="peopleDropdown">
            <li><a class="dropdown-item" href="/people/">Officers & Councilors</a></li>
            <li><a class="dropdown-item" href="/past-presidents/">Past Presidents</a></li>
            <li><a class="dropdown-item" href="/committees/">Committees</a></li>
            <li><a class="dropdown-item" href="/student-activities/">Student Activities Committee</a></li>
            <li><a class="dropdown-item" href="/obituaries/">In Memoriam</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
