<footer id="aps-footer">
  <div class="aps-container">
    <div class="row">
      <div class="col-md-6">
        <h3>About the American Peptide Society</h3>
        <p>
          APS promotes research and education in the field of peptide science, uniting a vibrant
          community of scientists, educators, and industry professionals.
        </p>
      </div>
      <div class="col-md-6">
        <h3>Contact</h3>
        <p><strong>Email:</strong> <a href="mailto:aps@ampep.org">aps@ampep.org</a><br>
           <strong>Website:</strong> <a href="https://americanpeptidesociety.org">americanpeptidesociety.org</a>
        </p>
      </div>
    </div>
  </div>
  <div class="aps-colophon">
    &copy; 2025 American Peptide Society. All rights reserved.
  </div>
</footer>
