{% extends "base.html" %}
{% block body_class %}site-entered{% endblock %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
<div class="aps-container block-content">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-page-header">APS Research & News</h1>
    </div>
    <!-- Left: Full News Article -->
    
    <div class="col-md-7">
      <h3 style="margin-top: 0;">{{ page.news_item_short_title }}</h3>
      
    <p><strong>This article reflects work in the {{ page.news_item_pi_last_name }} Lab</strong></p>
      {{ page.get_processed_content|safe }}
    </div>

    <!-- Right column (reserved for future) -->
    <div class="col-md-5">
      <div style="min-height: 1px;">
        {% if page.news_item_image %}
        <img src="{{ page.news_item_image.file.url }}" alt="Feature image" class="aps-img">
        {% if page.news_item_image_caption %}
        <div style="margin-top: 19px;">
          {{ page.news_item_image_caption|safe }}
        </div>
        {% endif %}
        <p style="margin-top: 19px;"><strong>Published here on {{ page.news_item_entry_date }}</strong><br /><strong>Title: </strong><a href="{{ page.news_item_journal_url }}" target="_blank">{{ page.news_item_full_title|safe }}</a><br /><strong>Authors:</strong> {{ page.news_item_authors }}<br />
      <strong>Citation:</strong> {{ page.news_item_citation|safe }}</p>
      {% endif %}
      </div>
    </div>

  </div>
</div>
{% endblock %}
